<!DOCTYPE html>
<html lang="en">
<head>
<title>HW</title>
<style>
body {
  background-color: salmon;
}
h1 {
  border: 5px solid red;
}

p {
  border: 4px dotted blue;
}
p {
  box-shadow: 5px 10px;
}
p {
  width: 180px;
  height: 200px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
p {
  font: italic small-caps bold 12px/30px Georgia, serif;
}
p  {
  float: right;
}
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

</style>
</head>
<body>

<h1>Assignment: Pretty About You</h1>

<p>Chuyun Zhao Assignment: Pretty About You 9/14/2021</p>

<div>box model properties</div>

</body>
</html>